<%- include('./partial/head') %>
<h1>Reqister Here</h1>
<div>
    <form method="POST" action="">
        <label for="nameProduct">Name Product</label>
        <input type="text" id="nameProduct" name="nameProduct" placeholder="Your Name Product.." required>

        <label for="price">Price</label>
        <input type="text" id="price" name="price" placeholder="Your lase name.." required>

        <input type="submit" value="Submit">
    </form>
</div>
<%- include('./partial/foot') %>